body {
    font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}  
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    margin-right: 10px;
}
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}   
.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.button-group .btn {
    margin-left: 10px;
    padding: 8px 15px;
    background: #283593;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.hero {
    position: relative;
    height: 80vh;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.hero-content {
    position: relative;
    z-index: 2;
}
.hero h1 {
    font-size: 3em;
    font-weight: bold;
}
.hero p {
    margin: 15px 0;
    font-size: 1.2em;
}
.btn-primary {
    background: #1976d2;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
.content {
    padding: 40px;
    text-align: center;
}
.image-box {
  margin-top: 20px;
}
.image-box img {
  width: 500px;
  max-width: 100%;
  border-radius: 10px;
}
